/* font-family: "Playfair Display SC", serif; */
/* font-family: "Platypi", serif; */


:root {
    --white: #fff;
    --black: #000000;
    --gray: #696969;
    --gap: 3rem;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {} */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* CSS_Elementos */
h1 {
    font-size: 5rem;
    /* text-transform: uppercase; */
    font-family: "Playfair Display SC", serif;
    position: relative;
}

h2 {
    font-size: 4.5rem;
    /* text-transform: uppercase; */
    font-family: "Playfair Display SC", serif;
}

h3 {
    font-size: 5rem;
    /* text-transform: uppercase; */
    font-family: "Playfair Display SC", serif;
}

h4 {
    font-size: 3.5rem;
    /* text-transform: uppercase; */
    font-family: "Playfair Display SC", serif;
}

h5 {
    font-size: 3rem;
    /* text-transform: uppercase; */
    font-family: "Playfair Display SC", serif;
}

h6 {
    font-size: 2.5rem;
    /* text-transform: uppercase; */
    font-family: "Playfair Display SC", serif;
}

p {
    font-size: 1.8rem;
    font-family: "Platypi", serif;
}

a {
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: var(--white);
    z-index: 4;
    transition: all 500ms ease-in-out;

}

aside h1 a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0.2rem;
    height: 100%;
    border-radius: 0.2rem;
    background-color: var(--black);
    transition: all 400ms ease-in-out;
}

aside h1 a:hover:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    background-color: var(--white);
    z-index: -1;

}

li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0.2rem;
    height: 100%;
    border-radius: 0.2rem;
    background-color: var(--black);
    transition: all 500ms ease-in-out;
}

li a:hover::after {
    /* content: ''; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    background-color: var(--white);
    z-index: -1;
}

a:hover {
    color: var(--black);
}

img {
    height: 30rem;
    width: 30rem;
}

/* CCS_Classes */
.bck {
    background-image: url(../img/large-triangles.svg);
    color: var(--white);
}

.home {
    padding: 0;
}

.content-center {
    background-size: cover;
    background-position: center center;
    background-image: url(../img/large-triangles.svg);
    color: var(--white);
    min-height: 100vh;
}
.content-center2 {
    background-color: var(--black);
    color: var(--white);
    min-height: 100vh;
}
.center-auto {
    max-width: 120rem;
    margin: 0 auto;
}

.Menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--black);
    border-bottom: 0.01rem solid var(--gray);
    z-index: 2;
}

.Menu-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Menu-flex ul {
    list-style: none;
    display: flex;
}

.men-items {
    font-family: "Platypi", serif;
    font-size: 2.6rem;
}

.Menu-flex li {
    position: relative;
}

.flex-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 8rem 0;
}

.flex-content .div-his {
    width: 80%;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.flex-content div p {
    text-align: center;
}

.flex-content h3 {
    text-transform: uppercase;
}
.grid-music {
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(320px,1fr));
    gap: var(--gap);
    padding: var(--gap);
}
.grid-music div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--gap);
    font-size: 2.6rem;
    text-transform: uppercase;
    border: solid 0.1rem var(--gray);
    border-radius: 0.5rem;
    transition:all 0.5s ease-in-out;
    animation: grid 500ms ease-in-out;
    animation-timeline: view();
    animation-range-start: cover 0;
    animation-range-end: cover 40%;
}
.grid-music div:hover {
    color: var(--black);
    background-color: var(--white);
}
.img-grid {
    width: 30rem;
    height: 30rem;
    border-radius: 0.5rem;
    transition: all 500ms ease-in-out;
}
.img-grid:hover {
    border-radius: 50%;

}
.center-auto h3, h5, p {
    text-align: center;
    animation: descri-grid 1ms ease-in-out;
    animation-timeline: view();
    animation-range-start: cover 0;
    animation-range-end: cover 40%;
}
@keyframes descri-grid {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.center-auto h3, p {
    padding-top: var(--gap);
}
.center-auto p {
    font-style: italic;
}
.fle-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8rem 0;
}
.link-music {
    z-index: 1;
}

@keyframes grid {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.logo {
    animation: logo 1ms ease-in-out;
    animation-timeline: view();
    animation-range-start: cover 0;
    animation-range-end: cover 40%;   
}
@keyframes logo {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}